<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elecnor 30 años</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body>
    <header class="logoNav">
        <div class="logo">
            <img src="https://www.elecnor.com/resources/files/1/logo-grupo-elecnor.svg" alt="Logo de Empresa">
            <p class="titulo">Elecnor 30 años - Recuerdos del evento</p>
            <p class="fecha">7 de Diciembre de 2021</p>
        </div>
        <p class="sub">Shows</p>
        <!-- <nav>
            <ul class="navSup">
                <li>Home</li>
                <li>Ranking</li>
                <li>Promoción</li>
                <li>Contacto</li>
            </ul>
        </nav> -->
    </header>
    <main>
        <div class="delivery">
            <img src="../img/Shows/Elecnor-baja-97.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-98.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-99.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-100.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-101.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-102.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-103.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-104.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-105.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-106.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-107.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-108.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-109.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-110.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-111.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-112.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-113.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-114.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-115.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-116.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-117.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-118.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-119.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-120.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-121.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-122.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-123.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-140.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-141.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-142.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-143.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-144.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-145.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-146.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-147.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-148.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-149.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-150.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-151.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-152.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-153.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-154.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-155.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-156.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-157.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-158.jpg" alt="" class="moto">
            <img src="../img/Shows/Elecnor-baja-159.jpg" alt="" class="moto">
            <!-- <div> Envio gratis <span>comprando </span>dos pizzas</div> -->
        </div>
        <!-- <div class="podio">
            <h2>Podio de pizzas</h2>
            <div class="topFoto">
                <section class="top5">
                    <h3>Pizzas top 5</h3>
                    <ol>
                        <li>Muzzarella</li>
                        <li>Hawaiana</li>
                        <li>Muzzarella J&Morron</li>
                        <li>Fugazzeta</li>
                        <li>Calabresa</li>
                    </ol>
                </section>
                <section>
                    <img src="img/PizzaFalling.png" alt="Armando una pizza">
                </section>
            </div>
        </div> -->
    </main>
    <footer>
        <nav>
            <a href="../index.html">Atrás</a>
            
        </nav>
        <div class="logoYmedia">
            
            <img class="fotosMayra" src="img/Logo.jpg" alt="Logo de FotosMayra">
            
                <div class="icons">
                    <a href="mailto:holafotosmayra@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                    <a href="https://wa.me/+5491157328454" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.instagram.com/fotos.mayra/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/FotosMayra" target="_blank"><i class="fab fa-facebook-square"></i></a>
                </div>
            
            
        </div>
    </footer>
</body>
</html>